flowsv4.json
[
    {
        "id": "a7db57515c638e90",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f8f142578bd1333",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab1",
        "type": "tab",
        "label": "Machine LED Dashboard",
        "disabled": false
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "Local CA",
        "cert": "",
        "key": "",
        "ca": "C:\\Users\\nahia\\.node-red\\certs\\broker.crt",
        "verifyservercert": true
    },
    {
        "id": "mqtt_broker_tls",
        "type": "mqtt-broker",
        "name": "Local TLS Broker",
        "broker": "localhost",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "nodered_pub",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_led",
        "type": "ui_tab",
        "name": "MQTT Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_group_led",
        "type": "ui_group",
        "name": "Controls",
        "tab": "ui_tab_led",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d6e3f50b576cba1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "mqtt_local_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_machine",
        "type": "ui_tab",
        "name": "Factory Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_group_machine",
        "type": "ui_group",
        "name": "Machine",
        "tab": "ui_tab_machine",
        "order": 1,
        "disp": true,
        "width": "10"
    },
    {
        "id": "ui_switch_led",
        "type": "ui_switch",
        "z": "a7db57515c638e90",
        "name": "LED Control",
        "label": "LED Control",
        "group": "ui_group_led",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "topic": "home/led",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "mqtt_out_led"
            ]
        ]
    },
    {
        "id": "mqtt_out_led",
        "type": "mqtt out",
        "z": "a7db57515c638e90",
        "name": "Publish LED TLS",
        "topic": "home/led",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_tls",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt_in_led",
        "type": "mqtt in",
        "z": "a7db57515c638e90",
        "name": "Subscribe LED TLS",
        "topic": "home/led",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_tls",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "ui_led"
            ]
        ]
    },
    {
        "id": "ui_led",
        "type": "ui_led",
        "z": "a7db57515c638e90",
        "order": 2,
        "group": "ui_group_led",
        "width": 3,
        "height": 1,
        "label": "LED Status",
        "labelPlacement": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "shape": "circle",
        "x": 420,
        "y": 200,
        "wires": []
    },
    {
        "id": "4e7b117a2cda6781",
        "type": "mqtt in",
        "z": "a7db57515c638e90",
        "name": "",
        "topic": "sonarT",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_tls",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "2bcc0cbd3bf67033"
            ]
        ]
    },
    {
        "id": "2bcc0cbd3bf67033",
        "type": "switch",
        "z": "a7db57515c638e90",
        "name": "checkMsg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PO",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "edb1cedd5e757408",
                "71f39a33dc7a9bfe"
            ],
            [
                "24c30cbfb0942239",
                "16f1936a25110ce5"
            ]
        ]
    },
    {
        "id": "edb1cedd5e757408",
        "type": "change",
        "z": "a7db57515c638e90",
        "name": "Red On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "1d0f451232cca205"
            ]
        ]
    },
    {
        "id": "24c30cbfb0942239",
        "type": "change",
        "z": "a7db57515c638e90",
        "name": "Green On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "069f55c1d4243f31"
            ]
        ]
    },
    {
        "id": "1d0f451232cca205",
        "type": "ui_led",
        "z": "a7db57515c638e90",
        "order": 2,
        "group": "ui_group_led",
        "width": 3,
        "height": 1,
        "label": "LED Status",
        "labelPlacement": "left",
        "colorForValue": [
            {
                "color": "#ff004c",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "069f55c1d4243f31",
        "type": "ui_led",
        "z": "a7db57515c638e90",
        "order": 3,
        "group": "ui_group_led",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#37ff00",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "16f1936a25110ce5",
        "type": "change",
        "z": "a7db57515c638e90",
        "name": "Red FF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "1d0f451232cca205"
            ]
        ]
    },
    {
        "id": "71f39a33dc7a9bfe",
        "type": "change",
        "z": "a7db57515c638e90",
        "name": "Green Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "069f55c1d4243f31"
            ]
        ]
    },
    {
        "id": "c72d1559a61f4481",
        "type": "mqtt in",
        "z": "a7db57515c638e90",
        "name": "Machine Status Subscriber",
        "topic": "sonarT",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_local_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "bf4986718e030494"
            ]
        ]
    },
    {
        "id": "bf4986718e030494",
        "type": "switch",
        "z": "a7db57515c638e90",
        "name": "Check PO / PS",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PO",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "8b1a9764eb8cd032"
            ],
            [
                "b8173fde93b006b9"
            ]
        ]
    },
    {
        "id": "8b1a9764eb8cd032",
        "type": "change",
        "z": "a7db57515c638e90",
        "name": "PO → Red ON, Blue OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"red\":\"ON\",\"blue\":\"OFF\"}",
                "tot": "json"
            }
        ],
        "x": 620,
        "y": 560,
        "wires": [
            [
                "a14b7aa3921e1174"
            ]
        ]
    },
    {
        "id": "b8173fde93b006b9",
        "type": "change",
        "z": "a7db57515c638e90",
        "name": "PS → Blue ON, Red OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"red\":\"OFF\",\"blue\":\"ON\"}",
                "tot": "json"
            }
        ],
        "x": 620,
        "y": 600,
        "wires": [
            [
                "a14b7aa3921e1174"
            ]
        ]
    },
    {
        "id": "a14b7aa3921e1174",
        "type": "split",
        "z": "a7db57515c638e90",
        "name": "Split LEDs",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 830,
        "y": 580,
        "wires": [
            [
                "d9f26c230477ae75"
            ]
        ]
    },
    {
        "id": "d9f26c230477ae75",
        "type": "change",
        "z": "a7db57515c638e90",
        "name": "Set topic to key name",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "parts.key",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1060,
        "y": 580,
        "wires": [
            [
                "5056fe12a02f5305"
            ]
        ]
    },
    {
        "id": "5056fe12a02f5305",
        "type": "ui_template",
        "z": "a7db57515c638e90",
        "group": "ui_group_led",
        "name": "Machine Image with LEDs",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div style=\"position:relative; width:100%; height:200px; margin:0 auto; background:#ccc; border:2px solid #333; border-radius:8px;\">\n  <!-- Machine Box -->\n  <div style=\"position:absolute; width:100%; height:100%; display:flex; align-items:center; justify-content:center; font-weight:bold; font-size:18px; color:#333;\">\n    Machine\n  </div>\n\n  <!-- LEDs -->\n  <div id=\"red-led\" class=\"led\" data-name=\"red\"></div>\n  <div id=\"blue-led\" class=\"led\" data-name=\"blue\"></div>\n</div>\n\n<style>\n  .led {\n    position: absolute;\n    width: 32px;\n    height: 32px;\n    border-radius: 50%;\n    background: #111;\n    box-shadow: 0 0 6px rgba(0,0,0,0.8);\n    transition: background 0.2s, box-shadow 0.2s;\n    transform: translate(-50%, -50%);\n  }\n\n  .led.on.red { background:#ff2b2b; box-shadow:0 0 15px rgba(255,43,43,0.9); }\n  .led.on.blue { background:#37ff00; box-shadow:0 0 15px rgba(55,255,0,0.9); }\n\n  /* Position LEDs on the box */\n  #red-led { left:25%; top:30%; }\n  #blue-led { left:75%; top:30%; }\n</style>\n\n<script>\n(function(scope){\n  function setLed(name, state){\n    var el = document.querySelector('.led[data-name=\"'+name+'\"]');\n    if(!el) return;\n    if(String(state) === 'ON'){\n      el.classList.add('on');\n      el.classList.add(name);\n    } else {\n      el.classList.remove('on');\n      el.classList.remove(name);\n    }\n  }\n\n  scope.$watch('msg', function(msg){\n    if(!msg) return;\n    if(msg.topic && msg.payload !== undefined){\n      setLed(String(msg.topic).toLowerCase(), msg.payload);\n    }\n  });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1300,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "bbc573facd58e997",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-ui-led": "0.4.11"
        }
    }
]